## LOVE pattern

In [56]:
for i in range(6):
    for j in range(7):
        if ((i==0 and j%3!=0) or (i==1 and j%3==0) or (i-j==2) or (i+j==8)):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

## love pattern 2

In [51]:
num=int(input())
n=num//2
for i in range(n):
    for s in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    if num%2==0:
        for s in range(2*(n-i-1)):
            print(" ",end="")
    else:
        for s in range(2*(n-i-1)+1):
            print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
        
    print()

for i in range(num):
    for s in range(i):
        print(" ",end="")
    for j in range(num,i,-1):
        print("*",end=" ")
    print()

6
  *     *
 * *   * *
* * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

## Name inside Love pattern

In [2]:
num=int(input("Enter no. of rows:"))
name=input("Enter your name:")
l=len(name)
if l>num:
    print()
    print("Name want to be in the limit of no. of rows")
    print()
    
n=num//2
print()
for i in range(n):
    for s in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    if num%2==0:
        for s in range(2*(n-i-1)):
            print(" ",end="")
    else:
        for s in range(2*(n-i-1)+1):
            print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
        
    print()
    
# for printing name 4 conditions are there 
# 1.no.of rows even and length even
# 2.no.of rows even and length odd
# 3.no.of rows odd and length even
# 4.no.of rows odd and length odd
    
if num%2==0 and l<=num:
    if l%2==0:
        print("* "*((num-l)//2) +  " ".join(name) +  " *"*((num-l)//2)) # 1.no.of rows even and length even
    elif l==num-1:
        print("* " +  " ".join(name) + "*")
    else:
        print("* "*((num-l)//2) +  " ".join(name) +  " *"*(((num-l)//2)+1)) # 2.no.of rows even and length odd
elif num%2!=0 and l<=num:
    if l%2==0:
        print("* "*((num-l)//2) +  " ".join(name) +  " *"*(((num-l)//2)+1))  # 3.no.of rows odd and length even
    else:
        print("* "*((num-l)//2) +  " ".join(name) +  " *"*((num-l)//2)) # 4.no.of rows odd and length odd
else:
    pass
    
for i in range(num):
    for s in range(i):
        print(" ",end="")
    for j in range(num,i,-1):
        print("*",end=" ")
    print()

Enter no. of rows:10
Enter your name:NANDHU

    *         *
   * *       * *
  * * *     * * *
 * * * *   * * * *
* * * * * * * * * *
* * N A N D H U * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

## STAR PATTERN

In [126]:
# to make star if (row=5,col=5) (n=6,m=7) (n=7,m=9) (n=8,m=11) (n=9,m=13) (n=10,m=15) (n=11,m=17)  [ m=n+(n-5)]   
# below 5 we cant print star
n=int(input("Number of rows:")) 
m=n+n-5
if n>=5:
    for i in range(n):
        for j in range(m):
            if (i==2 or i==(n-3) or i+j==(n-3) or j-i==(n-3) or i-j==2 or i+j==(m+1)):
                print("*",end="")
            else: 
                print(" ",end="")
        print()

Number of rows:10
       *
      * *
***************
 *  *     *  *
  **       **
  **       **
 *  *     *  *
***************
      * *
       *

## PRINTING STRING PYTHON

In [141]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for s in range(1,l-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print(str[j-1],end="")
    print()

Enter string:python
     p
    py
   pyt
  pyth
 pytho
python

In [140]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for s in range(1,l-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print(str[j-1],end=" ")
    print()

Enter string:python
     p
    p y
   p y t
  p y t h
 p y t h o
p y t h o n

In [133]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for s in range(1,l-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print(str[i-1],end="")
    print()

Enter string:python
     p
    yy
   ttt
  hhhh
 ooooo
nnnnnn

In [143]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for s in range(1,l-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print(str[i-1],end=" ")
    print()

Enter string:python
     p
    y y
   t t t
  h h h h
 o o o o o
n n n n n n

In [135]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for j in range(1,i+1,1):
        print(str[j-1],end="")
    print()

Enter string:nand
n
na
nan
nand

In [155]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for j in range(1,l-i+2,1):
        print(str[j-1],end=" ")
    print()

Enter string:python
p y t h o n
p y t h o
p y t h
p y t
p y
p

In [157]:
str=input("Enter string:")
l=len(str)
for i in range(1,l+1,1):
    for s in range(1,i,1):
        print(" ",end="")
    for j in range(1,l-i+2,1):
        print(str[j-1],end="")
    print()

Enter string:python
python
 pytho
  pyth
   pyt
    py
     p

In [169]:
str=input("Enter string:")
l=len(str)
for i in range(l,0,-1):
    for s in range(1,l-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print(str[i-j],end="")
    print()

Enter string:python
nohtyp
 ohtyp
  htyp
   typ
    yp
     p

In [171]:
str=input("Enter string:")
l=len(str)
for i in range(l,0,-1):
    for s in range(1,l-i+1,1):
        print(" ",end="")
    for j in range(1,i+1,1):
        print(str[i-1],end="")
    print()

Enter string:python
nnnnnn
 ooooo
  hhhh
   ttt
    yy
     p

## Number Pattern

15
14 13
12 11 10
9  8  7  6
5  4  3  2  1

In [15]:
n= int(input())

m=0
for x in range(1,n+1):
    m=m+x
    
for i in range(1,n+1):
    for j in range(1,i+1):
        print(format(m,"<3"),end="")
        m-=1
    print()

5
15
14 13
12 11 10
9  8  7  6
5  4  3  2  1

In [61]:
n= int(input())
    
for i in range(1,n+1):
    m=i
    for s in range(1,n-i+1):
        print(format(" ","<3"),end=" ")
    for j in range(1,i+1):
        print(format("*","<3"),end=" ")
    print(end=" ")
    for k in range(1,i+1):
        print(format(m,"<3"),end=" ")
        m=m+1
    print()
    
for i in range(1,n+1):
    m=n
    num=(2*i-1)
    for s in range(1,i,1):
        print(format(" ","<3"),end=" ")
    for j in range(1,n-i+2):
        print(format(m,"<3"),end=" ")
        m-=1
    print(end=" ")
    for x in range(1,n-i+2):
        print(format(num,"<3"),end=" ")
        num=num+2
    print()

6
                    *    1
                *   *    2   3
            *   *   *    3   4   5
        *   *   *   *    4   5   6   7
    *   *   *   *   *    5   6   7   8   9
*   *   *   *   *   *    6   7   8   9   10  11
6   5   4   3   2   1    1   3   5   7   9   11
    6   5   4   3   2    3   5   7   9   11
        6   5   4   3    5   7   9   11
            6   5   4    7   9   11
                6   5    9   11
                    6    11